 /* #root{ */
    /* display: flex; */
     /* background-color: black;  */
    /* min-height: 800px; */
    /* margin-top: 30px; */
/* }   */

.main-content {
    display: flex;
    justify-content: center;
}
.errors-show{
    color: red;
    justify-content: center;
    justify-items: center;
    text-justify: center;
}
body {
    height: 100%;
}
#root{
    width: 100vw;
    height: 100vh;
}
body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .btn-primary{
    margin-bottom: 10px;
}

.route-dropdown{
    max-height: 30vh;
    overflow: auto;
}
.route-select-btn{
    min-width: 30vw;
}
.super-small-img{
    width: 50px;
    height: 50px;
}
.feed-thumb{
    width: 200px;
    height: 200px;
}
.hidden{
    display: none;
}
.datePicker{
    margin:0;
    offset: 0;
}
.feed-card{
    max-width: 600px;
    min-width: 20rem;
    margin: auto;
}
.red{
    color: red;
}
.border-none{
    border: none;
}
.plain-btn{
    display: inline-block;
    padding: 0;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;

}
.plain-btn:hover{
    color: none;
    background-color: none;
    border-color: none;
    
}
/* .plain-btn:focus{
    color: none;
    background-color: none;
    border-color: none;
    outline: none;
    box-shadow: none;
} */
.themed-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .015);
    border: 1px solid rgba(86, 61, 124, .8);
    min-height: 80vh;
}

.themed-container {
    padding: .75rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
}
.route-thumb{
    width: 100px;
}
.avatar-img{
    width: 200px;
}
/* .navbar {
    margin-bottom: 20px;
} */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table-hover>tbody>tr:hover {
    background-color: #D2D2D2;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
