<script type='text/javascript'>
window.keys = <%= ({map: Rails.application.credentials.google[:api_key]}).to_json.html_safe  %>;
<% if logged_in? %>
 window.currentUser = <%= (render partial:'api/users/user', formats: :json, locals:{user: current_user}).html_safe %>;
<% else %>
window.currentUser = null
<% end %>

function initMap() {} // now it IS a function and it is in global

$(() => {
  initMap = function() {

    var map = new google.maps.Map(document.getElementById('gmap'), {
        center:{ lat: 10.78058, lng: 106.694385 }, // this is HCM
        zoom: 16,
        mapId: 'b9270ddec3f692ae'
    });

  }
})
</script>
<div id='root'>

</div>