 /* #root{ */
    /* display: flex; */
     /* background-color: black;  */
    /* min-height: 800px; */
    /* margin-top: 30px; */
/* }   */

.main-content {
    display: flex;
    justify-content: center;
}
.errors-show{
    color: red;
    justify-content: center;
    justify-items: center;
    text-justify: center;
}
body {
    height: 100%;
}
#root{
    width: 100vw;
    height: 100vh;
}
body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .btn-primary{
    margin-bottom: 10px;
}

.route-dropdown{
    max-height: 30vh;
    overflow: auto;
}
.route-select-btn{
    min-width: 30vw;
}
.super-small-img{
    width: 50px;
    height: 50px;
}
.feed-thumb{
    width: 200px;
    height: 200px;
}
.hidden{
    display: none;
}
.datePicker{
    margin:0;
    offset: 0;
}
.feed-card{
    max-width: 600px;
    min-width: 20rem;
    margin: auto;
}
.red{
    color: red;
}
.border-none{
    border: none;
}