.home-nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 0.3px solid black;
    border-radius: 3px;

}
ul{
    display: flex;
}

.nav-main-btn{
    display: flex;
    justify-items: space-between;
}
.nav-main-btn li{
    margin-left: 40px;
}
.routes-child{
    display: none;
    margin-top: 20px;
    margin-left: -40px;

}

.profile-sub-btn{
    display: none;
}
.active{
    display: block;
}
